<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-resizable-behavior/iron-resizable-behavior.html">

<dom-module id="seismic-time-plot">
  <template>
    <style>
     :host { position: relative; }
     div {
       background: #2C363E;
       display: inline-block;
       padding: 5px;
       outline: 1px solid black;
       position: absolute;
       left: 0;
       right: 0;
       top: 0;
       bottom: 0;
     }
    </style>
      <link type="text/css" rel="stylesheet" href="../lib/rickshaw/rickshaw.css">

    <div id="chart"></div>
  </template>
  <script src="../lib/rickshaw/vendor/d3.v3.js"></script>
  <script src="../lib/rickshaw/rickshaw.min.js"></script>
  <script>
   Polymer({
     is: "seismic-time-plot",
     behaviors: [
       Polymer.IronResizableBehavior
     ],
     properties: {
     },
     listeners: {
       'iron-resize': '_onIronResize'
     },
     _onIronResize: function() {
       if (this.$.chart.offsetHeight < 50) {
         console.log('_onIronResize', this.$.chart.offsetHeight);
         return;
       }
       this.graph.configure({width: this.$.chart.offsetWidth,
                             height: this.$.chart.offsetHeight});
       this.graph.render();
     },
     ready: function() {
       var tv = 250;
      // instantiate our graph!
        this.graph = new Rickshaw.Graph( {
        element: this.$.chart,
        renderer: 'line',
        series: new Rickshaw.Series.FixedDuration([{ name: 'one', color: "#5376DB" }, {name: 'two', color: "#D63EA2"}], undefined, {
          timeInterval: tv,
          maxDataPoints: 100,
          timeBase: new Date().getTime() / 1000
        })
      });
/*
       var xAxis = new Rickshaw.Graph.Axis.X( {
         graph: this.graph,
         tickFormat: new Date().getTime(),
         
       });
*/

       new Rickshaw.Graph.Axis.Time({
         graph: this.graph
       });
      this.graph.render();
    
      // add some data every so often
      var i = 0;
      var iv = setInterval( function() {
        var data = { one: Math.floor(Math.random() * 40) + 120 };
        var randInt = Math.floor(Math.random()*100);
        data.two = (Math.sin(i++ / 40) + 4) * (randInt + 400);
        this.graph.series.addData(data);
        this.graph.render();
      }.bind(this), tv );
          }
  })

  </script>
</dom-module>
