<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module id="seismic-frequency-plot">
  <template>
    <style>
     :host { position: relative; }
     div {
       display: inline-block;
       padding: 5px;
       border: 1px solid black;
       background: purple;
       position: absolute;
       left: 0;
       right: 0;
       top: 0;
       bottom: 0;
     }
    </style>
    <div>freq graph here</div>
  </template>
  <script>
   Polymer({
     is: "seismic-frequency-plot",
     properties: {

     },
     ready: function() {

     }
   });
  </script>
</dom-module>
