<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="seismic-time-plot.html">

<dom-module id="seismic-wide-view">
  <template>
    <style>
     h2 {
       color: #fff;
     }
     h3 {
       color: #9C9EA2
     }
     #cursor {
       position: relative;
       user-select: none;
       -webkit-user-select: none;
     }
     #vline {
       border-left: 2px solid #50E3C2;
       height: 100px;
     }
     #ball {
       width: 90px;
       height: 80px;
       background-image: url('../asset_pack/slider@3x.png');
       background-size: 80px;
       background-repeat: no-repeat;
       position: relative;
       left: -39px;
       top: -16px;
     }
     #focused {
       background: #3B4147;
     }
    </style>
    <div id="focused"></div>
    <seismic-time-plot id="plot"></seismic-time-plot>
    <div id="cursor">
      <div id="vline"></div>
      <div id="ball"></div>
    </div>
    <div style="position: absolute; left: 10px; top: 10px"> 
      <h2>Activity</h2>
      <h3>Last 5 hours v</h3>
    </div>
  </template>
  <script>
   Polymer({
     is: "seismic-wide-view",
     properties: {
       cursorTime: { type: Number, notify: true, reflectToAttribute: true }
     },
     listeners: {
       'track': 'handleTrack'
     },
     handleTrack: function(e) {
       if (e.detail.state === 'track') {
         this.$.cursor.style.left = e.detail.x + 'px';
         this.cursorTime = this.graphTimeAt(e.detail.x);
       }
     },
     graphTimeAt: function(x) {
       return this.$.plot.graph.x.invert(x);
     },
     xAtGraphTime: function(t) {
       return this.$.plot.graph.x(t);
       },
     ready: function() {
       this.handleTrack({detail: {state: 'track',
                                  x: this.xAtGraphTime(40000000)}});
     }
   });
  </script>
</dom-module>


