<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module id="seismic-sensor-status">
  <template>
    <style>
     div {
       display: inline-block;
       padding: 5px;
       border: 1px solid black;
       background: green;
     }
    </style>
    <div>Sensors OK. <span>{{fresh}}</span> fresh.</div>
  </template>
  <script>

     Polymer({
       is: "seismic-sensor-status",
     properties: {
       fresh: String
     },
     ready: function() {
       this.t = 20;
       var loop = function() {
         this.t = (this.t + 1) % 30;
         this.fresh = this.t + ' sec';
         setTimeout(loop, 1000);
       }.bind(this);
       loop();
       }
     });

  </script>
</dom-module>
