<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-resizable-behavior/iron-resizable-behavior.html">

<dom-module id="seismic-time-plot">
  <template>
    <style>
     :host { position: relative; }
     div {
       display: inline-block;
       padding: 5px;
       outline: 1px solid black;
       position: absolute;
       left: 0;
       right: 0;
       top: 0;
       bottom: 0;
     }
    </style>
    <div id="chart"></div>
  </template>
  <link type="text/css" rel="stylesheet" href="../rickshaw.css">
  <script src="../lib/rickshaw/vendor/d3.v3.js"></script>
  <script src="../lib/rickshaw/rickshaw.min.js"></script>
  <script>
   Polymer({
     is: "seismic-time-plot",
     behaviors: [
       //Polymer.IronResizableBehavior
     ],
     properties: {
     },
     listeners: {
       'iron-resize': '_onIronResize'
     },
     _onIronResize: function() {
       this.graph.configure({width: this.$.chart.offsetWidth,
                             height: this.$.chart.offsetHeight});
       this.graph.render();
     },
     ready: function() {
       this.graph = new Rickshaw.Graph( {
	 element: this.$.chart,
	 renderer: 'lineplot',
	 padding: { top: 0.1 },
	 series: [
	   {
	     data: [ { x: 0, y: 40 }, { x: 1, y: 49 }, { x: 2, y: 38 }, { x: 3, y: 30 }, { x: 4, y: 32 } ],
	     color: 'steelblue',
	     name: "blue",
	   }, { 
	     data: [ { x: 0, y: 19 }, { x: 1, y: 22 }, { x: 2, y: 32 }, { x: 3, y: 20 }, { x: 4, y: 21 } ],
	     color: 'lightblue',
	     name: "light blue" 
	   }
	 ]
       } );
       this.graph.render();
     }
   });
  </script>
</dom-module>
