<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="seismic-time-plot.html">

<dom-module id="seismic-focused-view">
  <template>
    <style>
     :host {
       background: #3B4147
     }
     
     h2 {
       color: #fff;
     }
     h3 {
       color: #9C9EA2
     }
     th,td {
       outline: 1px dotted black;
       color: #8D8F94;
     }
     td {
       overflow: hidden;
     }
     td, td > div {
       width: 120px;
       height: 100px;
       position: relative;
       }
     seismic-time-plot {
       position: absolute; left: 0; top: 0; right:0; bottom: 0;
     }
     #freq1 {
       background-image: url(../mockup-with-freqs.png);
       background-position: -71px -1663px;
       background-size: 280%;
     }
     #freq2 {
       background-image: url(../mockup-with-freqs.png);
       background-position:  -191px -1663px;
       background-size: 280%;
     }
    </style>

    <h2>Detailed View</h2>
    <h3>{{timeRangeLabel}}</h3>

    <table>
      <tr>
        <th></th>
        <th>Left Side</th>
        <th>Right Side</th>
      </tr>
      <tr>
        <th>Amplitude</th>
        <td><div><seismic-time-plot data="{{data}}" time-range='{{timeRange}}'></seismic-time-plot></div></td>
        <td><div><seismic-time-plot data="{{data}}" time-range='{{timeRange}}'></seismic-time-plot></div></td>
      </tr>
      <tr>
        <th>Frequency</th>
        <td><div id="freq1"></div></td>
        <td><div id="freq2"></div></td>
      </tr>
    </table>
  </template>
  <script src="../bower_components/moment/moment.js"></script>
  <script>
   Polymer({
     is: "seismic-focused-view",
     properties: {
       time: { type: Number, notify: true },
       timeRange: { computed: '_timeRange(time)' },
       timeRangeLabel: { computed: '_timeRangeLabel(timeRange)' },
       data: { type: Object, notify: true },
     },
     _timeRange: function(time) {
       return {t1: time - 5000, t2: time + 5000};
     },
     _timeRangeLabel: function(timeRange) {
       var t1 = moment(timeRange.t1);
       var t2 = moment(timeRange.t2);
       return t1.format('H:mm:ss') + ' - ' + t2.format('H:mm:ss');
     },
     ready: function() {
       
     }
   });
  </script>
</dom-module>


