<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-resizable-behavior/iron-resizable-behavior.html">

<dom-module id="seismic-time-plot">
  <template>
    <style>
     :host { position: relative; }
     div {
       background: #2C363E;
       display: inline-block;
       padding: 5px;
       outline: 1px solid black;
       position: absolute;
       left: 0;
       right: 0;
       top: 0;
       bottom: 0;
     }

     text {
       fill: red;
       }
    </style>
      <link type="text/css" rel="stylesheet" href="../lib/rickshaw/rickshaw.css">

      <div id="chart"></div>
  </template>
  <script src="../lib/rickshaw/vendor/d3.v3.js"></script>
  <script src="../lib/rickshaw/rickshaw.min.js"></script>
  <script>
   Polymer({
     is: "seismic-time-plot",
     behaviors: [
       Polymer.IronResizableBehavior
     ],
     properties: {
       data: { type: Array, notify: true },
       timeRange: { type: Object, reflectToAttribute: true, notify: true } // {t1: ms, t2: ms} or {age: ms}
     },
     listeners: {
       'iron-resize': '_onIronResize'
     },
     _onIronResize: function() {
       if (this.$.chart.offsetHeight < 50) {
         console.log('_onIronResize', this.$.chart.offsetHeight);
         return;
       }
       this.graph.configure({width: this.$.chart.offsetWidth,
                             height: this.$.chart.offsetHeight});
       this.graph.render();
     },
     ready: function() {
       var tv = 250;
       var seriesData = [[], []];
       // instantiate our graph!
       this.graph = new Rickshaw.Graph({
         element: this.$.chart,
         renderer: 'line',
         min: 0,
         max: 6000,
         series: [
           {name: 'left', color: "#5376DB", data: seriesData[0]},
           {name: 'right', color: "#D63EA2", data: seriesData[1]}
         ]});
       //undefined, {timeInterval: tv, maxDataPoints: 100, timeBase: new Date().getTime() / 1000});
      
       /*
       var xAxis = new Rickshaw.Graph.Axis.X( {
       graph: this.graph,
       tickFormat: new Date().getTime(),
       });
        */

       new Rickshaw.Graph.Axis.Time({
         graph: this.graph
       });
       this.graph.render();
       
       // add some data every so often
       var i = 0;
       var iv = setInterval( function() {
         if (!this.data) {
           //console.log('no data');
           return;
         }

         seriesData[0].splice(0, seriesData[0].length);
         var prevY = 0;
         var prevDy = 0;
         var lastHi = 0;
         var lastLo = 0;
         var amps = [0];
         var timeRange = this.timeRange;
         if (typeof timeRange === 'string') {
           // why didn't the attribute parsing work?
           timeRange = JSON.parse(timeRange);
         }
         
         var t1 = timeRange.t1, t2 = timeRange.t2;
         if (!t1) {
           t2 = Date.now();
           t1 = t2 - timeRange.ago;
         }
         
         this.data.forEach(function(pair) {
           var t = pair[0], y = pair[1];
           
           var dy = y - prevY;
           if (dy > 0 && prevDy < 0) { lastLo = y; amps.push(Math.abs(lastHi - lastLo)); }
           if (dy < 0 && prevDy > 0) { lastHi = y; amps.push(Math.abs(lastHi - lastLo)); }

           amps.splice(0, amps.length - 5);
           var maxAmp = 0;
           amps.forEach(function(a) { maxAmp = Math.max(maxAmp, a); });

           if (t > t1 && t < t2) {
             seriesData[0].push({x: t, y: maxAmp});
           }

           prevY = y;
           prevDy = dy;
         });
                           
         // series 1 is random and small
         this.graph.update();
         return;

         
         var data = { one: Math.floor(Math.random() * 40) + 120 };
         var randInt = Math.floor(Math.random()*100);
         data.two = (Math.sin(i++ / 40) + 4) * (randInt + 400);
         this.graph.series.addData(data);
         this.graph.render();
       }.bind(this), tv );
     }
   });

  </script>
</dom-module>
