<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="../bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="style.html">
<link rel="import" href="seismic-sensor-status.html">
<link rel="import" href="seismic-wide-view.html">
<link rel="import" href="seismic-focused-view.html">
<link rel="import" href="seismic-event-input.html">

<dom-module id="seismic-app">
  <template>
    <style>
     div[main] {
       display: flex;
       flex-direction: column;
       align-items: stretch;
       justify-content: space-between;
     }
     xseismic-wide-view {
       flex: 3 0;
     }
     xseismic-focused-view {
       flex: 2 0;
     }
    </style>
    <paper-drawer-panel id="paperDrawerPanel" force-narrow>
      <div drawer>some drawer things. settings, about</div>
      <div main>
        <div style="display: flex">
          <paper-button paper-drawer-toggle raised>☰</paper-button>
          <img src="../seismiclink.png" width="209" height="30"
               style="background-color: #EBEBF0;">
        </div>

        <seismic-wide-view cursor-time="{{ct}}"></seismic-wide-view>
        <seismic-focused-view time="{{ct}}"></seismic-focused-view>
        <seismic-sensor-status></seismic-sensor-status>
        <seismic-event-input></seismic-event-input>
      </div>
    </paper-drawer-panel>
  </template>
  <script>
   Polymer({
     is: "seismic-app",
     properties: {
     },
     ready: function() {
       
     }
   });
  </script>
</dom-module>


